:root {
    --space-0: 0px;
    --space-50: 4px;
    --space-100: 8px;
    --space-200: 16px;
    --space-300: 24px;
    --space-400: 32px;
    --space-500: 40px;
    --space-600: 48px;
    --space-700: 56px;
    --space-800: 64px;
    --space-900: 72px;
    --space-1000: 80px;
    --space-1100: 88px;
    --space-1200: 96px;
}