/* 
 * uix-tabview.css
 * TabView
 */

/* Tabbar */

.uix-tabview {
    display: flex;
    flex-direction: column;
}

.uix-tabview--tabbar {
    overflow: hidden;
    /*overflow: auto;
    white-space: nowrap;*/
    display: flex;
    flex-direction: row;
    justify-content: center;

    padding: 0px;
    
    border: 1px solid;
    border-color: var(--color-helper-2);
    border-radius: var(--space-100);
    
    background-color: var(--color-surface);
    color: var(--color-surface);
}

.uix-tabview--tabbar button {
    background-color: var(--color-surface);
    /*float: left;*/
    border: none;
    outline: none;
    cursor: pointer;
    padding: var(--space-200);
    /*transition: 0.3s;*/
    margin: 0px;

    font-family: "PT Root UI", sans-serif;
    line-height: 1.5;
    font-size: 16px;
}

.uix-tabview--tabbar button:hover {
    background-color: var(--color-extra-accent1-variant);
}

.uix-tabview--tabbar button.active {
    background-color: var(--color-secondary);
    color: var(--color-surface);
}

.uix-tabview--tabcontent {
    display: none;
}

.uix-tabview--tabcontent--default {
    display: flex;
}