/* 
 * Page elements
 */

/* HELPERS */
.debug-mode-on {
    /* debug mode */
    border: dotted;
    border-color: #555;
    border-radius: 0px;
    box-sizing: border-box;
}

.uix-state--disabled {
    opacity: 0.38;
}

/* HEADER */
 .page-header {
    display: flex;
    flex-direction: column;
    gap: var(--space-100);
    padding: var(--space-300);
    padding-bottom: var(--space-600);

    border-radius: var(--space-100);
}

/* Main toolbar */
.uix-toolbar-main {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: var(--space-700);

    padding: var(--space-100) var(--space-0);
}

/* CARD: Rent and instructors */

.uix-card--rent {
    display: flex;
    flex: 1 1 288px;
    flex-direction: column;
    align-items: bottom;

    /*ratio 16:9*/
    /*width: 328px;*/
    min-height: 192px;

    border: 1px;
    border-radius: 8px;
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    background-color: var(--color-surface);
    color: var(--color-on-surface);

    padding: 16px;
}

/* CARD: Spot minimal */

.uix-card--spot--minimal {
    display: flex;
    flex: 1 1 100px;
    flex-direction: column;
    justify-content: space-between;

    height: 192px;

    border: 0px;
    border-radius: var(--space-100);
    border-style: solid;
    box-sizing: border-box;

    padding: var(--space-300);

    background-color: var(--color-extra-accent1);
    color: var(--color-on-accent);
}

#uix-card-minimal--align-right {
    width: 100%;
    text-align: right;
}


/* CARD: others */

.uix-card--other--minimal {
    display: flex;
    flex: 1 1 288px;
    flex-direction: column;
    justify-content: space-between;

    height: 288px;

    border: 0px;
    border-radius: var(--space-100);
    border-style: solid;
    box-sizing: border-box;

    padding: var(--space-300);

    background-color: var(--color-surface);
    color: var(--color-on-accent);
}

/* CARD: communication */
.uix-card--communication {
    display: flex;
    flex: 1 1 288px;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: var(--space-200);
    
    min-height: 288px;

    border: 1px;
    border-radius: var(--space-100);
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    padding: var(--space-300);

    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

.uix-card--spot--description-item {
    display: flex;
    flex: 1 1 288px;
    flex-direction: column;
    /*justify-content: space-between;*/
    gap: var(--space-200);
    
    min-height: 288px;

    border: 1px;
    border-radius: var(--space-100);
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    padding: var(--space-300);

    background-color: var(--color-surface);
    color: var(--color-on-surface);
}

#footer--container--main {
    border-radius: var(--space-100);

    background-color: var(--color-primary);
    color: var(--color-on-primary);

    padding: var(--space-300);
}

#page-header--container--main {
    background-color: var(--color-primary);
    color: var(--color-on-accent);
}

#page-header--container--spot {
    background-color: var(--color-extra-accent1);
    color: var(--color-on-accent);
}

#page-header--container--communication {
    background-color: var(--color-extra-accent3);
    color: var(--color-on-accent);
}

#card-equip {
    background-color: var(--color-extra-accent2);
}

#card-communication {
    background-color: var(--color-extra-accent3);
}

.uix-grid--title {
    color: var(--color-on-background-variant);
}


/* LISTS */
.uix-card--list {
    padding: 0px;
}

.uix-card--list-item {
    margin-bottom: 8px;
    width: 100%;
    list-style-type: none;
    padding: 0px;
}

.uix-card--list-item--primary-text {
    margin-bottom: 8px;
    width: 100%;
    padding: 0px;
}

.uix-card--list-item--secondary-text {
    color: var(--color-on-surface-light);
    text-transform: uppercase;
}


/* Make Google Maps responsive */

.map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

/* Make Youtube player pesponsive */

.video-responsive {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}

.video-responsive iframe {
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}


/* Others */

#spot--properties--header {
    display: flex;
    justify-content: space-between;
}

#place-breadcrumbs {
    color: var(--color-on-accent-t50);
}

#place-summary {
    color: var(--color-on-accent-t50);
}

.uix-card--weather--forecast {
    display: flex;
    flex: 1 1 288px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    border: 1px;
    border-radius: var(--space-100);
    border-color: var(--color-helper-2);
    border-style: solid;
    box-sizing: border-box;

    padding: var(--space-300);

    background-color: var(--color-surface);
    color: var(--color-on-surface);
}
.uix-card--weather--day {}


#inline-notification-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    background-color: var(--color-extra-accent2);
    color: var(--color-on-accent);

    border: 0px;
    border-radius: var(--space-100);
    padding: var(--space-300);
}

#inline-notification-card a {
    color: var(--color-on-accent);
}

#inline-notification--close {
    color: var(--color-on-accent);
}