a {
    color: var(--color-secondary);
    text-decoration: none;
}

.uix-link--header {
    text-decoration: underline;
    color: var(--color-on-accent);
}

.uix-card--link--overall {
    text-decoration: none;
    cursor: pointer;
}

.uix-button--circle {
    width: var(--space-600);
    height: var(--space-600);

    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid;
    border-radius: var(--space-400);
    border-color: var(--color-on-accent);
    box-sizing: border-box;
}

.uix-button--circle--s {
    width: var(--space-400);
    height: var(--space-400);

    /*display: flex;
    justify-content: center;
    align-items: center;*/

    border: 1px solid;
    border-radius: var(--space-400);
    box-sizing: border-box;
}

.uix-button--back {
    /*background-color: var(--color-on-accent);*/
    color: var(--color-on-accent);
    padding-bottom: 4px; /* align symbol precisely in the center of the button*/
}

.uix-button--card--inline {
    border-color: var(--color-helper-3);
    background-color: var(--color-helper-3);
    color: var(--color-on-surface);
}

.uix-button--gallery--close {
    position: absolute;
    top: 32px;
    left: 32px;

    color: var(--color-on-background);
    border-color: var(--color-on-primary);
    background-color: var(--color-background);
}